apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo
  annotations:
    image-updater.eznix86.github.io/enabled: "true"
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo
  template:
    metadata:
      labels:
        app: demo
    spec:
      containers:
      - name: app
        image: nginx:stable
